<div class="container principal my-4">
    <div class="row">
        <div class="col ">
            <div class="col text-center mt-4">
                <h1 class="mb-1 title-h p-4">
                    Análise de Perfil Comportamental
                </h1>
            </div>
            <div class="col text-center text-p my-5">
                <p>
                    A análise comportamental é uma abordagem que busca entender o comportamento humano em diferentes situações. Por meio de testes, é possível identificar características psicológicas e comportamentais das pessoas.
                    <br>
                    <br>
                    Essa ferramenta é usada em recursos humanos para desenvolver e gerir equipes. Os testes fornecem insights sobre o perfil comportamental dos indivíduos, auxiliando candidatos e empregadores a tomar decisões embasadas.
                    <br>
                    <br>
                    A análise comportamental oferece uma visão mais profunda das relações interpessoais e promove um ambiente de trabalho produtivo. É importante usar os testes de forma ética, considerando sua complementaridade com outras avaliações e respeitando a privacidade dos resultados.
                        
                </p>
            </div>
            <div class="col button text-center my-4 ">
                <button type="button" class="btn rounded-5 btnStart " routerLink="/quiz">Quero fazer o teste</button>

            </div>
  
        </div>
       
    </div>
</div>
  
