<div class="container principal my-auto mx-auto">
    <div class="row">
        <div class="col">
            <div class="col text-center mt-4">
                <h1 class="mb-1 title-h">
                    Análise de perfil comportamental
                </h1>
            </div>

            <div class="col text-center text-p mt-5">
                <p>
                    FOI ENVIADO PARRA O SEU EMAIL OS RESULTADOS DO SEU PERFIL COMPORTAMENTAL.
                    <br>
                    <br>
                    O GRUPO SELS AGRADECE A SUA PARTICIPAÇÃO.
                    <br>
                    <br>
                    ASSIM QUE POSSÍVEL RETORNAREMOS O CONTATO!
                        
                </p>
            </div>

  
        </div>
       
    </div>
</div>